body{
    margin : 0;
    display : flex;
    min-height : 100vh;
    justify-content : center;
    align-items : center;
    background-color: salmon;
    font-family : 'Courier New', Courier, monospace;
}

.container{
    background-color: rgba(255,255,255,0.3);
    padding : 30px;
    border-radius : 7px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    margin : 10px;
    max-width : 450px;
    text-align : center;
    font-size : 18px;
    font-weight: 500px;
}

.heading{
    font-size : 28px;
}

.input{
    height : 50px;
    width : 300px;
    padding : 0 40px;
    background-color: rgba(255,255,255,0.6);
    border-color : rgba(255,255,255,0.3);
    border-width : 5px;
    font-size : 16px;
    border-radius : 50px;
}

.meaning-container{
    display : none;
}